:root{
    --font-family: 'Poppins', sans-serif;  
    --header-color:#1E1E1E;
    --p-color:#616161;
    --btn-color:#007F5F;
    --white:#ffffff;
    --yellow:#FF8B00;
}
body{
    font-family: var(--font-family);
}
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
li{
    display: inline-block;
}
a{
    display: inline-block;
    text-decoration: none;
}
p{
    margin: 0;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.w-100{
    width: 100%;
}
img{
    vertical-align: middle;
    object-fit: cover;
}
.form-select:focus{
    box-shadow: none;
    border: 0;
}
.common-heading h2{
    font-size: 30px;
    font-family: var(--font-family);
    font-weight: 500;
    color: var(--header-color);
    margin-bottom: 0;
    text-transform: capitalize;
}
.common-heading p{
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--p-color);
}

/* common css End */
/* navbar part start */
.navbar-toggler{
    border: 0;
    padding: 5px !important;
    margin-bottom: 14px;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.main-navbar .nav{
    gap: 8px;
}
.main-navbar .nav .nav-link{
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--p-color);
    text-transform: capitalize;
}
.main-navbar .nav .active{
    color: var(--btn-color);
}
.main-navbar .nav .nav-link:hover{
    color: var(--btn-color);
}
.common-btn{
    z-index: 12;
}
.common-btn button{
    width: 100px;
    height: 35px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--btn-color);
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid var(--btn-color);
    overflow: hidden;
    z-index: 1;
    transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    text-transform: capitalize;
}
.common-btn button::after{
    content: '';
    width: 0;
    height: 100%;
    background: var(--btn-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
}
.common-btn button:hover::after{
    width: 100%;
    transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
}
.common-btn button:hover{
    color: var(--white);
    transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
}
/* navbar part End */
/* banner part start */
#banner{
    background: url(../image/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 600px;
}
#banner .overly{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.459);
    top: 0;
    left: 0;
}
.banner-btn button{
    width: 130px;
    height: 35px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--white);
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid var(--white);
    overflow: hidden;
    z-index: 1;
    transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    text-transform: capitalize;
}
.banner-btn button::after{
    content: '';
    width: 0;
    height: 100%;
    background: var(--btn-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
}
.banner-btn button:hover::after{
    width: 100%;
    transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
}
.banner-btn button:hover{
    color: var(--white);
    border: 1px solid var(--btn-color);
    transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
}
.banner-text{
    max-width: 600px;
    z-index: 1;
}
.banner-text h1{
    width: 80%;
    font-size: 50px;
    font-family: var(--font-family);
    font-weight: 600;
    color: var(--white);
    margin-bottom: 0;
}
.banner-text p{
    width: 85%;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--white);
    line-height: 27px;
}
.banner-text .search-box{
    width: 90%;
    padding: 10px 20px;
    background: var(--white);
    border-radius: 10px 10px 10px 0;
    margin-top: 20px;
}
.search-box ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.search-box ul li .icon-green{
    color: var(--btn-color);
}
.search-box ul li select{
    background: transparent;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 500;
    color: var(--header-color);
}
.search-box ul li input{
    background: transparent;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    width: 100%;
    color: var(--p-color);
    border: 0;
    padding-left: 25px;
}
.search-box ul li input::placeholder{
    font-size: 12px;
    color: var(--p-color);
    font-weight: 400;
    font-family: var(--font-family);
}
.search-box ul li .search-var a{
    width: 55px;
    height: 55px;
    background: var(--btn-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
/* banner part End */
/* benefit part start */
#benefit{
    background: var(--white);
    padding: 70px 0 40px;
}
.benefit-header .common-heading p{
    width: 700px;
    margin: 0 auto;
}
.benefit-content .benefit-item{
    border-radius: 10px;
    transition: ease-in-out 0.1s;
    -moz-transition: ease-in-out 0.1s;
}
.benefit-content .benefit-item:hover{
    background: var(--btn-color);
    transition: ease-in-out 0.1s;
    -moz-transition: ease-in-out 0.1s;
}
.benefit-content .benefit-item:hover h3{
    color: var(--white);
    transition: ease-in-out 0.1s;
    -moz-transition: ease-in-out 0.1s;
}
.benefit-content .benefit-item:hover p{
    color: var(--white);
    transition: ease-in-out 0.1s;
    -moz-transition: ease-in-out 0.1s;
}
.benefit-item .icon{
    width: 55px;
    height: 55px;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.1s;
}
.benefit-item h3{
    font-size: 20px;
    font-family: var(--font-family);
    font-weight: 500;
    color:var(--header-color);
    margin-bottom: 0;
    padding: 10px 0;
    text-transform: capitalize;
    transition: ease-in-out 0.1s;
    -moz-transition: ease-in-out 0.1s;
}
.benefit-item p{
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    color:var(--p-color);
    transition: ease-in-out 0.1s;
    -moz-transition: ease-in-out 0.1s;
}
/* benefit part End */
/* popular part start */
#popular{
    background: var(--white);
}
.popular-header .common-heading p{
    width: 700px;
    margin: 0 auto;
}
.popular-item{
    box-shadow: 0 0 2px rgb(3, 3, 3);
    padding: 20px;
}
.popular-item .card-body h5{
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 500;
    color: var(--header-color);
    padding: 10px 0;
}
.popular-item .card-body p{
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--p-color);
    padding-bottom: 10px;
}
.popular-item .card-body ul span{
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 500;
    color: var(--yellow);
}
/* popular part End */
/* go_travel part start */
#go_travel{
    background: var(--white);
}
.travel-text{
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.travel-text .common-heading p{
    padding: 10px 0;
}
.travel-text ul li p{
    width: 350px;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--p-color);
}
.travel-text .banner-btn button:hover{
    color: var(--white) !important;
}
.travel-counter .card{
    padding: 35px 15px;
}
.travel-counter{
    width: 400px;
    margin: 0 auto;
}
.travel-item .card:hover{
    background: var(--btn-color);
    transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -webkit-transition: ease-in-out 0.2s;
}
.travel-item .card:hover span{
    color: var(--white);
    transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -webkit-transition: ease-in-out 0.2s;
}
.travel-item .card:hover p{
    color: var(--white);
    transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -webkit-transition: ease-in-out 0.2s;
}
.travel-item .card .icon{
    width: 60px;
    height: 60px;
    background: var(--white);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.travel-item .card-body h5 span{
    font-size: 25px;
    font-family: var(--font-family);
    font-weight: 600;
    display: inline-block;
    color: var(--header-color);
    padding-top: 25px;
    transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -webkit-transition: ease-in-out 0.2s;
}
.travel-item .card-body p{
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--p-color);
    text-transform: capitalize;
    transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -webkit-transition: ease-in-out 0.2s;
}
/* go_travel part End */
/* destination part start */
#destination{
    background: var(--white);
}
.destination-text{
    width: 475px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.destination-text .common-btn button{
    width: 160px;
}
.destination-text .common-btn button{
    font-size: 14px;
    font-weight: 500;
    font-family: var(--font-family);
    text-transform: capitalize;
}
.destination-text ul li{
    margin-bottom: 10px;
}
.destination-text ul li span{
    display: inline-block;
    font-size: 13px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--p-color);
}
.destination-text .main-accordion{
    width: 100%;
}
.main-accordion .accordion-item h2 button{
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 500;
    color: var(--header-color);
}
.main-accordion .accordion-item .accordion-body{
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--p-color);
}
.main-accordion .accordion-button{
    position: relative;
}
.main-accordion .accordion-button::before{
    content: "";
    width: 13px;
    height: 13px;
    position:absolute;
    left: 0px;
    border: 1px solid var(--p-color);
    border-radius: 50%;
}
.main-accordion .accordion-button::after {
	margin-left: 10px;
}
.main-accordion .accordion-button:not(.collapsed)::before {
	background: var(--btn-color);
    border: 1px solid var(--btn-color);
}
.main-accordion .accordion-button:focus {
   box-shadow: none;
   border-color: transparent;
}
.main-accordion .accordion-button:not(.collapsed) {
	background-color: var(--white);
    box-shadow: none;
}
.main-accordion .accordion-item:first-of-type .accordion-button {
	border-radius: 0px;
}
.destination-image{
    width: 475px;
    height: 460px;
    margin: 0 auto;
    background: var(--white);
    position: relative;
}
.destination-image .img-1{
    width: 240px;
    height: 240px;
    position: absolute;
    top: 37px;
    left: 50px;
    z-index: 9;
}
.destination-image .img-1 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.destination-image .img-2{
    width: 240px;
    height: 240px;
    position: absolute;
    right: 50px;
    bottom: 50px;
    border: 10px solid var(--white);
    border-radius: 20px;
    z-index: 10;
}
.destination-image .img-2 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.destination-image .img-3{
    width: 140px;
    height: 165px;
    position: absolute;
    right: 91px;
    top: 80px;
    z-index: 8;
}
.destination-image .img-3 img{
    width: 140px;
    height: 165px;
}
.destination-image .inner-text{
    position: absolute;
    left: 40px;
    bottom: 3px;
    z-index: 11;
}
.destination-image .inner-text .search{
    width: 265px;
    background: var(--white);
    padding: 6px 0;
    margin-bottom: 6px;
}.destination-image .inner-text .search input{
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--header-color);
}
.destination-image .inner-text .search input::placeholder{
   font-size: 15px;
   font-family: var(--font-family);
   font-weight: 400;
   color: var(--header-color);
}
.destination-image .inner-text ul{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-left: 25px;
}
.destination-image .inner-text ul li{
    width: 240px;
    background: var(--white);
    display: block flex;
    justify-content: space-between;
    padding: 6px;
}
.destination-image .inner-text ul li span{
    display: inline-block;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--p-color);
}
.destination-image .inner-text-2 {
    position: absolute;
    left: 70px;
    bottom: 90px;
    z-index: 11;
}
.destination-image .inner-text-2 span{
    display: inline-block;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--p-color);
    background: rgb(255, 255, 255);
    padding: 5px;
    margin-top: 10px;
}
/* destination part End */
/* explore part start */
#explore{
    background: var(--white);
}
.explore-header{
    width: 100%;
}
.explore-header .common-heading{
    max-width:400px;
}
.explore-slide {
    position: relative;
}
.explore-slide .slick-dots{
   display: flex !important;
   gap: 10px;
   bottom: -15px;
   justify-content: center;
   align-items: center;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}
.explore-slide .slick-dots li button{
     display: none;
}
.explore-slide .slick-dots li{
    width: 8px;
    height: 8px;
    border: 1px solid var(--header-color);
    border-radius: 50%;
}
.explore-slide .slick-dots .slick-active{
    background: var(--btn-color);
    border: 1px solid var(--btn-color);
}
.main-explore .explore-nav .nav-link{
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--p-color);
    transition: ease-in-out 0.3s;
    border-radius: 10px;
}
.main-explore .explore-nav .active{
    background: var(--btn-color);
    color: var(--white);
}
.main-explore .nav-link:hover{
   background: var(--btn-color);
   color: var(--white);
   transition: ease-in-out 0.3s;
}
/* explore part End */
/* testimonial part start */
#testimonial{
    background: var(--white);
    padding: 80px 0;
}
.testimonial-slide {
    position: relative;
}
.testimonial-slide .slick-dots{
   display: flex !important;
   gap: 10px;
   bottom: -15px;
   justify-content: center;
   align-items: center;
   position: absolute;
   left: 50%;
   bottom: -40px;
   transform: translateX(-50%);
}
.testimonial-slide .slick-dots li button{
     display: none;
}
.testimonial-slide .slick-dots li{
    width: 8px;
    height: 8px;
    border: 1px solid var(--header-color);
    border-radius: 50%;
}
.testimonial-slide .slick-dots .slick-active{
    background: var(--btn-color);
    border: 1px solid var(--btn-color);
}
.testimonial-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    border: 1px solid  rgb(167, 166, 166);
    background: var(--white);
}
.testimonial-item .t-img{
   width: 40%;
   padding: 20px;
}
.testimonial-item .t-img .icon{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--btn-color);
    box-shadow: 0 0 1px 1px var(--btn-color);
}
.testimonial-item .t-img .icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}
.testimonial-item .t-img h5{
    font-size: 15px;
    font-family: var(--font-family);
    font-weight: 500;
    color: var(--header-color);
    margin-bottom: 0;
    padding: 10px 0;
    text-transform: uppercase
}
.testimonial-item .t-text{
    position: relative;
}
.testimonial-item .t-text h4{
    position: relative;
    z-index: 2;
}
.testimonial-item .t-text p{
    position: relative;
    z-index: 2;
}
.testimonial-item .t-text::after{
   content: "";
   width: 45px;
   height: 45px;
   background: var(--white);
   position: absolute;
   top: 50%;
   transform: translateY(-50%) rotate(-138deg);
   left: -35px;
   z-index: 1;
}
.testimonial-item .t-text{
   width: 60%;
   padding: 20px;
   background: var(--btn-color);
}
.testimonial-item .t-text h4{
    display: inline-block;
    font-size: 20px;
    font-family: var(--font-family);
    font-weight: 600;
    color: var(--white);
    text-transform: uppercase;
    border-bottom: 1px solid rgb(255, 255, 255);
}
.testimonial-item .t-text p{
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font-family);
    color: var(--white);
}
/* testimonial part End */
/* about part us start */
#about{
    background: #007F5F;
}
#about .overly{
    background: url(../image/footer.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.about-content{
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
}
.about-content .common-heading h2{
    color: var(--white);
}
.about-content .common-heading p{
    color: rgba(255, 255, 255, 0.582);
    padding: 10px 0;
}
.about-content .email-box{
    max-width: 430px;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    background: var(--white);
    padding: 10px;
    border-radius: 10px;
}
.about-content .email-box input{
   font-size: 14px;
   font-family: var(--font-family);
   font-weight: 400;
   color: var(--header-color);
   border: 0;
   /* border: 1px solid red; */
   width: 100%;
   text-align: center;
}
.about-content .email-box input::placeholder{
   font-size: 14px;
   font-family: var(--font-family);
   font-weight: 400;
   color: var(--p-color);
}
.about-content .email-box button{
   font-size: 14px;
   font-family: var(--font-family);
   font-weight: 400;
   border: 0;
   padding: 10px 15px;
   background: var(--btn-color);
   color: var(--white);
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.384);
   border-radius: 10px;
}
/* about part us End */
/* footer part start */
footer{
    background-color: var(--white);
    padding-top: 30px;
}
.footer-content h6{
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 500;
    color: var(--header-color);
    margin-top: 20px;
}
.footer-content ul li{
    margin-bottom: 10px;
    display: block;
}
.footer-content ul li a{
    font-size: 14px;
    font-family: var(f
    --font-family);
    font-weight: 400;
    color: var(--p-color);
    border-bottom: 1px solid transparent;
}
.footer-content ul li a:hover{
    color: var(--btn-color);
    border-bottom: 1px solid var(--btn-color);
}
.footer-logo ul li{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.562);
    border-radius: 50%;
    /* margin-bottom: 20px; */
}
.footer-logo ul li:hover{
    background: var(--btn-color);
}
.footer-logo ul li:hover a{
    color: var(--white);
    border-bottom: none;
} 
.copy-right{
    background: var(--p-color);
    padding: 15px 0;
}
.copy-right span{
    font-size: 12px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--white);
}
.copy-right a{
    font-size: 12px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--yellow);
}







/* footer part End */